@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
:root {
  --font-secondary-color: #666;
}

body {
  background: #fff;
}
.react-tel-input .form-control {
  height:60px;
  padding-left: 55px !important;
}

.react-tel-input .flag-dropdown {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;

  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding:5px !important;

}

.react-tel-input .flag-dropdown .selected-flag:hover {
  background: #f2f6f8 !important;
  border-color: #dde4ec !important;
  box-shadow: #dde4ec !important;
  border-radius: 50px !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: #f2f6f8 !important;
  border-radius: 50px !important;

}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border:none !important;
  margin-top:8px

}

.collapse-sidebar
{
  width: 70px;
  min-width: 1px;
}
.dash-sidelinks svg
{
  flex: none;
}
.main-content
{
  transition: none;
}
.collapse-active
{
  width: calc(100% - 70px);
}
.collapse-btn
{
  width: 41px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  transition: none;
}
.collapse-btn span
{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c1c1c1;
  border-radius: 10px;
  transition: none;
}
.collapse-btn span:nth-child(2)
{
  width: 80%;
}
.collapse-btn span:nth-child(3)
{
  width: 60%;
}
.collapse-btn:hover
{
  border: 1px solid #000;
}
.collapse-btn:hover span
{
  width: 100%;
  background-color: #000;
}